<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../css/bootstrap/css/bootstrap.css">
  <link rel="stylesheet" type="text/css" href="../css/bootstrap/bootstrap-icons.css">
  <link rel="stylesheet" href="../css/nav.css">
  <title>Convertir material</title>
</head>
<body>
  <header class="header">
      <div class="logo-container">
        <div class="logo">
          <img src="../Images/_af071fd4-5c4f-4b93-86dc-1706a269b765.jpg" alt="TeachForAll">
        </div>
        <div class="company-name">
          TeachForAll
        </div>
      </div>

      <div class="nav-container">
        <a href="inicio.html" class="btn nav-links"><button><i class="bi bi-house"></i></button></a>
       <a href="Foro.html" class="btn nav-links"><button><i class="bi bi-chat-right-dots-fill"></i></button></a>
        <a class="btn nav-links "><button><i class="fa-solid fa-user"></i></button></a>
      </div>
    </header>

   <div style="text-align: center; margin-top: 50px;">
    <h1>Disculpe las molestias, estamos trabajando en ello.</h1>
    <img src="../Images/gato.jpeg" alt="Imagen de un gato" style="max-width: 100%; height: auto;">
</div>

</body>

</html>