<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/bootstrap/css/bootstrap.css">
     <link rel="stylesheet" type="text/css" href="../css/bootstrap/bootstrap-icons.css">
    <link rel="stylesheet" href="../css/foro_styles.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <title>TeachForAll Foro</title>
</head>
<body>
    <header class="header">
        <div class="logo-container">
            <div class="logo">
                <img src="../Images/_af071fd4-5c4f-4b93-86dc-1706a269b765.jpg" alt="TeachForAll">
            </div>
            <div class="company-name">
                TeachForAll
            </div>
        </div>
        <div class="nav-container">
            <a href="inicio.html" class="btn nav-links"><button><i class="bi bi-house"></i></button></a>
            <a class="btn nav-links"><button><i class="fas fa-user"></i></button></a>
        </div>
    </header>
        <nav class="navbar bg-body-tertiary">
      <div class="container-fluid">
        <span class="navbar-brand">FORO</span>
        <form class="d-flex" role="search">
          <input class="form-control me-2" type="search" placeholder="Haz una pregunta" aria-label="Search">
          <button class="btn btn-outline-success" type="submit">Participar</button>
        </form>
      </div>
    </nav>
    <div class="forum">
        <div class="question">
            <h2>Pregunta 1</h2>
            <p>¿En caso de no contar con el material asignado del temario sumar y restar, con qué lo puedo sustituir?</p>
            <p><strong>Ignacio Flores - Profesor</strong></p>
            <button class="responder">Responder</button>
        </div>
        <div class="question">
            <h2>Pregunta 2</h2>
            <p>¿En caso de no contar con el material asignado del temario sumar y restar, con qué lo puedo sustituir?</p>
            <p><strong>Esteban Sanchez - Doctor</strong></p>
            <button class="responder">Responder</button>
        </div>
    </div>
</body>
</html>